footer
  #footer
    .left
      a(href="https://www.facebook.com/ustaskagorce")
        img(src="./images/fb.png")
    .contact
      .row
        i.fa.fa-envelope
        .info ustaska@wp.pl
      .row 
        i.fa.fa-phone
        .info (18) 262-49-11
      .row
        i.fa.fa-mobile
        .info 881-278-461
