meta(charset="UTF-8")
link(rel="stylesheet", type="text/css",href="styles.css")
link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
link(href="https://fonts.googleapis.com/css?family=Aguafina+Script|Josefin+Sans:100|Source+Sans+Pro:200,300,400",rel="stylesheet")

title U Staska - pensjonat w Gorcach
