header
  #top_bar
    #logo
      img#logo_image(src="./images/logo.png")
    #menu
      nav
        ul
          li
            a(href="index.html") O nas
          li
            a(href="oferta.html") Nasza oferta
          li
            a(href="galeria.html") Galeria
          li
            a(href="cennik.html") Cennik
          li
            a(href="kontakt.html") Kontakt
